body { color:#4a4a4a; font-family:'Merriweather', serif; background-color:rgba(255,253,253) }

a { font-family:'Lato', sans-serif; font-weight:700; text-decoration:none; color:#f7274a }
btn_sk {
    color: rgb(255, 255, 255);
    position: relative;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 25%;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.25px;
    border-radius: 7px;
    transition: all 0.5s ease 0s;
}

.main { padding:5rem 1rem }
.main > .container { max-width:521px }

.section { position:relative }
.section.icons > .container { position:relative; height:92px; overflow:hidden }
.section.icons > .container:before { content:''; position:absolute; left:0; right:181px; top:50%; height:1px; background-color:#979797; animation-name:onload-bar-left; animation-duration:1s }
.section.icons > .container:after { content:''; position:absolute; left:423px; top:50%; right:0; height:1px; background-color:#979797; animation-name:onload-bar-right; animation-duration:1s }
.section.icons .icon-pause { position:absolute; left:60px; top:0; width:92px; height:92px; border-radius:50%; overflow:hidden }
.section.icons .icon-pause:before { content:''; position:absolute; left:50%; top:50%; width:92px; height:92px; background-color:#f7274a; border-radius:50%; transform:translate(-50%, -50%); animation-name:onload-dot; animation-duration:0.5s }
.section.icons .icon-pause:after { content:''; position:absolute; left:50%; top:50%; width:92px; height:92px; background:url("chrome-extension://__MSG_@@extension_id__/public/images/ICON_Pause.svg") no-repeat; transform:translate(-50%, -50%); animation-name:onload-pause; animation-duration:1s }
.section.icons .icon-reflect { display:none }
.section.icons .icon-check { display:none }
.section.icons .link-more { color: #f7274a;position:absolute; right:73px; top:50%; transform:translateY(-50%); animation-name:onload-link-more; animation-duration:1.5s }
.section.icons a:hover,a:focus { text-decoration:underline; color:#f7274a;cursor:pointer }

.section.buttons .btn { color: #fff;position:relative; top:0; display:flex; align-items:center; justify-content:center; width:243px; height:60px; font-weight:700; text-transform:uppercase; letter-spacing:1.25px; border-radius:7px; transition:.5s }
.section.buttons .btn-dark { color: #fff;position:relative; top:0; display:flex; align-items:center; justify-content:center; width:243px; height:60px; font-weight:700; text-transform:uppercase; letter-spacing:1.25px; border-radius:7px; transition:.5s;margin:0 20px; display:flex; }
.take-me-back {left: 25%;}

.section.text { margin-top:30px; font-size:26px; animation-name:onload-text; animation-duration:1s }
.delayed-text { animation-name:onload-text; animation-duration:1.8s }
.section.text .alert-message { position:relative; left:0; transition:.5s }
.section.text .more-info { display:none; height:1px ; }
.section.text .feedback { display:none }
.section.text small { font-family:'Lato', sans-serif; font-size:14px; font-weight:700 }
.section.text small a { text-decoration:underline;color: #f7274a; }
.section.text small a:hover,
.section.text small a:focus { text-decoration:none;color: #f7274a;cursor:pointer }

.section.buttons { margin-top:60px; animation-name:onload-btn; animation-duration:2s }
.section.buttons .btn_sk { color: #fff;position:relative; top:0; display:flex; align-items:center; justify-content:center; width:243px; height:60px; font-weight:700; text-transform:uppercase; letter-spacing:1.25px; border-radius:7px; transition:.5s }
.section.buttons .btn-dark { color: #fff;position:relative; top:0; display:flex; align-items:center; justify-content:center; width:243px; height:60px; font-weight:700; text-transform:uppercase; letter-spacing:1.25px; border-radius:7px; transition:.5s;margin:0 20px; display:flex; }
.section.buttons .btn-light { width: 243px;    height: 60px;    margin:0 20px;    display:inline-block;   padding: 22px 40px 20px;    border-radius: 6.9px;    box-shadow: 0 12px 40px -10px rgba(193, 199, 208, 0.5);    border: solid 1px #282828; color: #282828; display: flex;}
.section.buttons .prr2-buttons { text-align:center;    padding: 10px;    position: relative;    background-color: #fff;    margin: 10px; display: flex; justify-content: center;}
.section.buttons .prr2-buttons a { max-width: 50%; }
.section.buttons .prr2-buttons .disable-button { pointer-events: none; background-color: #c1c7d0; border-color: transparent; }

.step2 .section.icons .icon-pause:after { display:none }
.step2 .section.icons .link-more { display:none }
.step2 .section.icons > .container:before { right:0 }
.step2 .section.icons > .container:after { left:calc(100% + 113px); right:-181px }
.step2 .section.text .alert-message { left:80%; visibility:hidden; opacity:0; height:0 }
.step2 .section.buttons .btn_sk { top:0; visibility:visible; opacity:1; animation-name:step2-btn; animation-duration:1.5s }
.step2 .section.icons .icon-pause:before { width:42px; height:42px; animation-name:step2-dot; animation-duration:1s }
.step2 .section.icons .icon-reflect { display:block; position:absolute; left:40%; top:0; width:92px; height:92px; transform:translateX(-50%); border-radius:50%; overflow:hidden }
.step2 .section.icons .icon-reflect:after { content:''; position:absolute; left:50%; top:50%; width:92px; height:92px; background:url("chrome-extension://__MSG_@@extension_id__/public/images/ICON_Reflect.svg") no-repeat; background-size:cover; transform:translate(-50%, -50%); animation-name:step2-reflect; animation-duration:1s }
.step2 .section.text .more-info { text-align: start;  position:relative; left:0; display:block; height:auto; animation-name:step2-more-info; animation-duration:1s }

.step3 .section.icons .icon-reflect { display:none }
.step3 .section.icons .icon-check { display:block; position:absolute; left:40%; top:0; width:92px; height:92px; transform:translateX(-50%); border-radius:50%; overflow:hidden }
.step3 .section.icons .icon-check:after { content:''; position:absolute; left:50%; top:50%; width:92px; height:92px; background:url("chrome-extension://__MSG_@@extension_id__/public/images/ICON_Confirm.svg") no-repeat; background-size:cover; transform:translate(-50%, -50%); animation-name:step2-reflect; animation-duration:1s }
.step3 .section.text .more-info { left:80%; visibility:hidden; opacity:0; height:0; animation-name:step3-more-info; animation-duration:.5s }
.step3 .section.text .feedback { position:relative; left: 5%; display:block; animation-name:step2-more-info; animation-duration:1s }
.step3 .section.text .feedback p { margin-bottom:0 }
.step3 .section.text .feedback p + p { margin-top:2rem }
.step3 .section.buttons .btn_sk { top:0; visibility:visible; opacity:1; animation-name:step3-btn; animation-duration:1.5s }
.explicit-content-p {width: 510px;}
.It-looks-like-youre {
    height: 150px;
    margin: 13px 0 71px;
    font-family: Merriweather !important;
    font-weight: normal !important;
    font-stretch: normal !important;
    font-style: normal !important;
    line-height: normal !important;
    letter-spacing: -0.25px !important;
    color: #4a4a4a !important;
    padding-left: 10%;
    padding-right: 10%;
}
.limited-access-width {
    width: 410px
}
.prr2-screenD-text { display: flex; flex-direction: column; max-width: 570px; }
.prr2-screenD-text .can-we-talk-about-it { margin-top: 15px; }
.content-prr-level-2 {
    padding-left: 0;
}
.prr2-screenB-text { display: flex; flex-direction: column; max-width: 592px; }
.prr2-screen-text1 { display: flex; flex-direction: column; max-width: 570px; }
.prr2-screen-text1 .prr2-screen-text2 { margin-top: 15px; }

.prr2-screen-text1 .input-container{
    width: 491px;
    height: 69px;
    margin: 16px 0 16px 4px;
    padding: 11px 0 11px 15px;
    border-radius: 6.9px;
    border: solid 1px #dfe1e6;
    background-color: #fff;
}
.prr2-screen-text1 .response-input{
    font-size: 16px;
    min-width: 470px;
    height: 29px;
    border: 0;
    outline: 0;
    font-family: none;
}

.Everyone-needs-some {
    width: 666px;
    font-size: 26px;
    font-family: Merriweather;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.25px;
    color: #4a4a4a;
}
.Please-talk-to-coaches{
    width: 666px;
    height: 50px;
    font-size: 26px;
    font-family: Merriweather;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.25px;
    color: #4a4a4a;
}
.Emergency-number{
    width: 456px;
    height: 75px;
    font-family: Merriweather;
    font-size: 60px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.47px;
    color: #4a4a4a;
}

.coaches-container{
    text-align: right;
    margin-right: 75px;
}
.set-coach-border{
    border: 4px solid #f7274a;
}
.coaches-thumbnail{
    margin:10px;
    border-radius: 50%;
    height:100px;
    width:100px;
    cursor: pointer;
}
.section.icons > .container-level-3 { position:relative; height:92px; overflow:hidden }
.section.icons > .container-level-3:before { content:''; position:absolute; left:0; right:0; top:50%; height:1px; background-color:#979797; animation-name:onload-bar-left; animation-duration:1s }
.section.icons >.container-level-3 > .icon-pause, .section.icons >.container-level-3 > .icon-communication { position: initial; left:60px; top:0; width:92px; height:92px; border-radius:50%; overflow:hidden }
.section.icons >.container-level-3 > .icon-pause, .section.icons >.container-level-3 > .icon-countDown { position: initial; left:60px; top:0; width:92px; height:92px; border-radius:50%; overflow:hidden }
.section.icons >.container-level-3 > .icon-reflect, .section.icons >.container-level-3 > .icon-check  { display: block; position: initial; left:60px; top:0; width:92px; height:92px; border-radius:50%; overflow:hidden }
.section.icons >.container-level-3 > .icon-pause:before, .section.icons >.container-level-3 > .icon-reflect:before, .section.icons >.container-level-3 > .icon-communication:before, .section.icons >.container-level-3 > .icon-check:before { content:''; position:absolute; left:50%; top:50%; width:92px; height:92px; background-color:#f7274a; border-radius:50%; transform:translate(-50%, -50%); animation-name:onload-dot; animation-duration:0.5s }
.section.icons >.container-level-3 > .icon-pause:before, .section.icons >.container-level-3 > .icon-reflect:before, .section.icons >.container-level-3 > .icon-countDown:before, .section.icons >.container-level-3 > .icon-check:before { content:''; position:absolute; left:50%; top:50%; width:92px; height:92px; background-color:#f7274a; border-radius:50%; transform:translate(-50%, -50%); animation-name:onload-dot; animation-duration:0.5s }
.section.icons >.container-level-3 > .icon-pause:after { content:''; position:absolute; left:50%; top:50%; width:92px; height:92px; background:url("chrome-extension://__MSG_@@extension_id__/public/images/ICON_Pause.svg") no-repeat; transform:translate(-50%, -50%); animation-name:onload-pause; animation-duration:1s }
.section.icons >.container-level-3 > .icon-reflect:after { content:''; position:absolute; left:50%; top:50%; width:92px; height:92px; background:url("chrome-extension://__MSG_@@extension_id__/public/images/ICON_Reflect.svg") no-repeat; transform:translate(-50%, -50%); animation-name:onload-pause; animation-duration:1s }
.section.icons >.container-level-3 > .icon-check:after { content:''; position:absolute; left:50%; top:50%; width:92px; height:92px; background:url("chrome-extension://__MSG_@@extension_id__/public/images/ICON_Confirm.svg") no-repeat; transform:translate(-50%, -50%); animation-name:onload-pause; animation-duration:1s }
.section.icons >.container-level-3 > .icon-communication:after { content:''; position:absolute; left:50%; top:50%; width:92px; height:92px; background:url("chrome-extension://__MSG_@@extension_id__/public/images/ICON_Communication.svg") no-repeat; transform:translate(-50%, -50%); animation-name:onload-pause; animation-duration:1s }
.section.icons >.container-level-3 > .icon-countDown:after { content:''; position:absolute; left:50%; top:50%; width:92px; height:92px; background:url("chrome-extension://__MSG_@@extension_id__/public/images/ICON_Count-Down.svg") no-repeat; transform:translate(-50%, -50%); animation-name:onload-pause; animation-duration:1s }
.section.icons >.container-level-3 > .ovals-container { position: absolute; display: flex; flex-direction: row; left: 75%; top: 50%; transform:translate(-50%, -50%); animation-name:onload-pause; animation-duration:1s; }
.section.icons >.container-level-3 > .ovals-container .question-oval { width: 42px; height: 42px; border-radius: 50%; border: solid 1px #e02020; margin: 0 4px; }
.take-me-back {left: 25%;}
.choices-container { border-radius: 24px; background-color: #f4f5f7; display: flex; flex-direction: column; animation-name:onload-pause; animation-duration:1s; }
.choices-container .choice-container { cursor: pointer; display: flex; flex-direction: row; align-items: center; justify-content: space-between; border-bottom: solid 1px #979797; font-family: Merriweather; font-size: 20px; padding: 16px 20px; }
.choices-container .choice-container:last-of-type { border-bottom: none; }
.choices-container .choice-container .icon-confirm { width:30px; height:30px; background:url("chrome-extension://__MSG_@@extension_id__/public/images/ICON_Confirm.svg") no-repeat; background-size:cover; }
.choose-one-or-more { margin-top: 15px; font-size: 20px; display: flex; }
.text-count-down{
    position: absolute;
    left: 48%;
    top: 10%;
    color: #e02020;
    z-index: 1;
    width: 21px;
    height: 60px;
    font-size: 48px;
}
.SK-Modal-Div {
    background-color: #fffdfd;
    display: none;
    position: fixed;
    justify-content: center;
    z-index: 2147483647;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(248,248,248,0.47);
    font-family: Merriweather, "Google Sans";
}
.SK-Modal-Top {
    float: inherit;
    margin-top: 10%;
    background-color: white;
    margin-left: 30%;
    margin-right: 30%;
}

.National-Suicide-Pre {
    width: 491px;
    height: 27px;
    font-family: Merriweather;
    font-size: 21px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.16px;
    color: #4a4a4a;
}
.Or-talk-to-one-of-yo {
    width: 510px;
    margin: 26px 0.5px 0 0;
    font-family: Merriweather;
    font-size: 26px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.25px;
    color: #4a4a4a;
}
.allowed-url-list-container {
    border: 1px solid #979797;
    display: flex;
    flex-direction: column;
    height: 250px;
    overflow: auto;
    font-size: 15px;
    width: 350px;
    margin-left: 20px;
    margin-top: 13px;
    padding: 10px;
}
.allowed-url-list-container a {
    font-weight: normal;
    color: red;
}
@keyframes onload-dot {
    0% { width:1px; height:1px; visibility:hidden; opacity:0 }
    100% { width:92px; height:92px; visibility:visible; opacity:1 }
}
@keyframes onload-pause {
    0%,
    75% { visibility:hidden; opacity:0 }
    100% { visibility:visible; opacity:1 }
}
@keyframes onload-text {
    0% { left:0; visibility:hidden; opacity:0 }
    75% { left:5px; visibility:hidden; opacity:0 }
    100% { left:0; visibility:visible; opacity:1 }
}
@keyframes onload-bar-left {
    0%,
    75% { right:0 }
    100% { right:181px }
}
@keyframes onload-bar-right {
    0%,
    75% { left:calc(100% + 113px); right:-181px }
    100% { left:423px; right:0 }
}
@keyframes onload-link-more {
    0%,
    75% { visibility:hidden; opacity:0 }
    100% { visibility:visible; opacity:1 }
}
@keyframes onload-btn {
    0% { top:0; visibility:hidden; opacity:0 }
    75% { top:-5px; visibility:hidden; opacity:0 }
    100% { top:0; visibility:visible; opacity:1 }
}
@keyframes step2-dot {
    0% { width:1px; height:1px; visibility:hidden; opacity:0 }
    100% { width:42px; height:42px; visibility:visible; opacity:1 }
}
@keyframes step2-reflect {
    0%,
    35% { width:1px; height:1px; visibility:hidden; opacity:0 }
    100% { width:92px; height:92px; visibility:visible; opacity:1 }
}
@keyframes step2-more-info {
    0%,
    75% { left:50%; height:1px; visibility:hidden; opacity:0 }
    100% { left:0; height:auto; visibility:visible; opacity:1 }
}
@keyframes step3-more-info {
    0% { left:0; height:auto; visibility:visible; opacity:1 }
    100% { left:80%; height:1px; visibility:hidden; opacity:0 }
}
@keyframes step3-btn {
    0%,
    75% { top:100px; visibility:hidden; opacity:0 }
    100% { top:0; visibility:visible; opacity:1 }
}

@keyframes step2-btn {
    0%,
    75% { top:100px; visibility:hidden; opacity:0 }
    100% { top:0; visibility:visible; opacity:1 }
}

.sk_toxic {
    position: relative;
    display: inline;
}

.sk_toxic::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 2px;
    background: red;
    background-size: 6px 2px;
    pointer-events: none;
}

.hover-panel {
    /* display: none; */
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 200px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 12px;
    margin-top: 8px;
    z-index: 1000;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
}

.hover-panel * {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.hover-panel::before {
    content: '';
    position: absolute;
    top: -6px;
    left: 20px;
    width: 12px;
    height: 12px;
    background: white;
    transform: rotate(45deg);
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

.hover-panel-content {
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
    padding-left: 5px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.hover-panel-button {
    background: #f0f0f0;
    border-radius: 3px;
    padding: 3px 5px;
    cursor: pointer;
    font-size: 13px;
    transition: background-color 0.2s;
    background-color: transparent;
    border: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.hover-panel-logo {
    margin-top: 6px;
    padding-right: 6px;
    text-align: right;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.hover-panel-button:hover {
    background: #e0e0e0;
}

div.sk-modal-button-div {
    box-shadow: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    margin: 0;
    padding: 24px;
}

.sk-modal-button {
    align-items: center;
    border: none;
    display: inline-flex;
    justify-content: center;
    outline: none;
    position: relative;
    z-index: 0;
    -webkit-font-smoothing: antialiased;
    font-family: "Google Sans",Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: .875rem;
    letter-spacing: .25px;
    background: none;
    border-radius: 4px;
    box-sizing: border-box;
    color: #5f6368;
    cursor: pointer;
    font-weight: 500;
    height: 36px;
    min-width: 80px;
    outline: none;
    padding: 0 16px;
    margin: 0 0 0 8px;
}

.sk-modal-button:hover {
    background-color: #F5F5F5;
    color: black;
}
