@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  margin: 0 !important;
  scroll-behavior: smooth;
}
html,
body {
  overflow-x: hidden;
}
html,
body {
  margin: 0;
  padding: 0;
}

/* MEDIA SCREEN */

.container-custom,
.container-custom-fluid,
.container-custom-lg,
.container-custom-md,
.container-custom-sm,
.container-custom-xl,
.container-custom-xxl {
  width: 100%;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-custom,
  .container-custom-sm {
    max-width: 540px;
  }
}

@media (min-width: 1281px) and (max-width: 1366px) {
  .container-custom,
  .container-custom-lg,
  .container-custom-md,
  .container-custom-sm {
    max-width: 1300px;
  }
}

@media (min-width: 768px) {
  .container-custom,
  .container-custom-md,
  .container-custom-sm {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container-custom,
  .container-custom-lg,
  .container-custom-md,
  .container-custom-sm {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container-custom,
  .container-custom-lg,
  .container-custom-md,
  .container-custom-sm,
  .container-custom-xl {
    max-width: 1140px;
  }
}

@media (min-width: 1920px) {
  .container-custom,
  .container-custom-lg,
  .container-custom-md,
  .container-custom-sm,
  .container-custom-xl,
  .container-custom-xxl {
    max-width: 1440px;
  }
}

@media (min-width: 1400px) and (max-width: 1919px) {
  .container-custom,
  .container-custom-lg,
  .container-custom-md,
  .container-custom-sm,
  .container-custom-xl,
  .container-custom-xxl {
    max-width: 1280px;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .container-custom,
  .container-custom-lg,
  .container-custom-md,
  .container-custom-sm {
    max-width: 930px;
  }
}

/* FONTS */
@font-face {
  font-family: 'gellixthin';
  src:
    url('/fonts/gellix-thin-webfont.woff2') format('woff2'),
    url('/fonts/gellix-thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gellixlight';
  src:
    url('/fonts/gellix-light-webfont.woff2') format('woff2'),
    url('/fonts/gellix-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GT Walsheim Pro';
  src:
    url('/fonts/GTWalsheimProRegular.woff2') format('woff2'),
    url('/fonts/GTWalsheimProRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gellixmedium';
  src:
    url('/fonts/gellix-medium-webfont.woff2') format('woff2'),
    url('/fonts/gellix-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gellixregular';
  src:
    url('/fonts/gellix-regular-webfont.woff2') format('woff2'),
    url('/fonts/gellix-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gellixsemibold';
  src:
    url('/fonts/gellix-semibold-webfont.woff2') format('woff2'),
    url('/fonts/gellix-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gellixbold';
  src:
    url('/fonts/gellix-bold-webfont.woff2') format('woff2'),
    url('/fonts/gellix-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gellixextrabold';
  src:
    url('/fonts/gellix-extrabold-webfont.woff2') format('woff2'),
    url('/fonts/gellix-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gellixblack';
  src:
    url('/fonts/gellix-black-webfont.woff2') format('woff2'),
    url('/fonts/gellix-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* FONTS */

/* TYPOGRAFIA */
body {
  font-size: 24px;
  line-height: 36px;
  color: #222224;
  overflow-x: hidden;
  background: url(/images/bg-safekids.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  font-weight: 500;
}

.h1,
h1 {
  font-size: 2.5rem;
  font-weight: 800;
  font-family: 'gellixextrabold' !important;
}
p {
  margin-bottom: 1.5rem;
}

img.img {
  width: 100%;
}
.green {
  color: #4dcc8f !important;
}
.red {
  color: #ff2f4e !important;
}

button.btn.small {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #fff;
  /* background: #000000; */
  /* border-radius: 14px; */
  padding: 0.5rem 0rem 0.5rem 1.5rem;
  margin: 0;
  background: linear-gradient(84.93deg, #ff2f4e 13.42%, #ff8e15 144.26%);
  box-shadow: 0px 1px 36px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  transition: 0.5s;
  max-width: 265px;
}

button.btn.small:hover {
  transition: 0.5s;
  background: linear-gradient(79.04deg, #ff8e15 8.46%, #ff2f4e 202.45%);
  transition: 0.2s;
}
img.bg-icon-btn {
  padding-left: 1rem;
}
button,
input,
optgroup,
select,
textarea {
  width: 100%;
}
.border-btn-small.center {
  text-align: center;
  position: relative;
  margin: 0rem auto;
}
span.color2 {
  background: #ff2f4e;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.space {
  height: 1.5rem;
}
/* TYPOGRAFIA */

/* ANIMATION */

/* .pulse-button:hover {
    animation: pulse-play 1.5s;
  } */

.scan__image {
  float: right;
  padding: 4rem 2rem 0 0;
  max-width: revert;
  transition: 0.2s;
  position: relative;
  height: auto;
}

@media (max-width: 1919px) {
  .scan__image {
    padding: 4rem 0rem 0 0;
  }
}

@media (max-width: 1280px) {
  .scan__image {
    max-width: 305px;
    padding: 0 0rem 0 0;
    margin: 0 auto;
    float: none;
  }
}

@media (max-width: 414px) {
  .scan__image {
    width: 305px;
    padding: 0 0rem 0 0;
  }
}

@keyframes pulse-play {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}

.reveal {
  position: relative;
  /* transform: translateY(150px); */
  opacity: 0;
  transition: 1s all ease;
}
.active {
  /* transform: translateY(0); */
  opacity: 1;
}
.slick-dots li button::before {
  font-size: 0 !important;
  line-height: 0 !important;
  width: 15px !important;
  height: 15px !important;
  padding: 5px !important;
  cursor: pointer !important;
  color: transparent !important;
  border: 1px solid #FF2F4E !important;
  outline: none !important;
  border-radius: 150px !important;
  background: #fff !important;
}
.slick-dots li.slick-active button::before {
  background: rgb(255, 47, 78) !important;
}
.slick-dots {
  position: static !important;
  margin-top: 8px !important;
  margin-bottom: 30px !important;
}

.active.fade-bottom {
  animation: fade-bottom 0.5s ease-in-out;
}
.active.fade-top {
  animation: fade-top 0.5s ease-in-out;
}
.active.fade-left {
  animation: fade-left 1s ease-in-out;
}
.active.fade-right {
  animation: fade-right 1s ease-in-out;
}

/* Loader styles */
.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000; /* semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure loader stays on top */
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite; /* Animation */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Hide loader when content is loaded */
.loaded .loader-wrapper {
  display: none;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(150px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fade-top {
  0% {
    transform: translateY(-150px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0);
  }
}
/* ANIMATION */

/* HEADER */
header {
  position: fixed;
  width: 100%;
  z-index: 11;
  transition: 1s ease-out;
  /*border-bottom: 1px solid #ffffff1f;*/
}
header img.logo {
  transition: 1s;
  -webkit-transform: scale(1);
  transition: 0.2s;
  filter: brightness(100%);
}
header img.logo:hover {
  transition: 0.2s;
  filter: brightness(125%);
}

.navbar-toggler-icon {
  width: 20px;
  height: 20px;
}

/* HEADER */

/* NAVIGATION */
.border-btn-small.header-btn {
  margin: 0rem 0rem 0rem 0.5rem;
}

.navbar {
  margin: 2rem 0px !important;
  background: rgb(255 255 255 / 68%);
  backdrop-filter: blur(9.10401px);
  border-radius: 16px;
  border: #e5e5e5 1px solid;
  box-shadow: 0px 24px 27px rgba(0, 0, 0, 0.07);
}

button.btn.small.header-top {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #fff;
  /* background: #000000; */
  /* border-radius: 14px; */
  padding: 0.4rem 1.5rem;
  margin: 0;
  background: linear-gradient(79.04deg, #ff2f4e 8.46%, #ff8e15 202.45%);
  border-radius: 10px;
  transition: 0.5s;
}
button.btn.small.header-top:hover {
  background: linear-gradient(79.04deg, #ff8e15 8.46%, #ff2f4e 202.45%);
  transition: 0.5s;
}
/* NAVIGATION */

/* Footer */
div#footer {
  position: absolute;
  bottom: 1.5rem;
  margin: 0 auto;
  padding: 0 14%;
  width: 100%;
  text-align: center;
}
.menu-footer a {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #fff;
  text-decoration: none;
  padding: 0 0.8rem;
}
div#footer a:hover {
  text-shadow: #fff 0 0 0;
  transition: 0.2s;
}
.row.footer {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}
.right.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu-footer {
  margin-left: -0.7rem;
}
p.text-footer {
  font-size: 18px;
  line-height: 22px;
  padding: 1rem 0;
  font-weight: 400;
}
img.logo-footer {
  transition: 1s;
  -webkit-transform: scale(1);
  transition: 0.2s;
  filter: brightness(100%);
}
img.logo-footer:hover {
  transition: 0.2s;
  filter: brightness(125%);
}

/* Footer */

/* VIDEO MODAL */

.no-scroll {
  overflow: hidden;
}
/* VIDEO MODAL */

/* SESSION CONTENT Terms and Conditions */
section#session-content-terms-and-conditions {
  padding: 0rem 0 0rem;
  text-align: center;
}
h2.session-content-terms-and-conditions {
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
  font-family: 'gellixextrabold' !important;
  padding-bottom: 8rem;
}

h6.session-content-terms-and-conditions {
  font-weight: 700;
  font-size: 30px;
  line-height: 32px;
  padding-bottom: 1rem;
}
.border-btn-small2.terms {
  position: relative;
  margin-top: 10%;
}
/* SESSION CONTENT Terms and Conditions */

/* dont remove css */

.check-point {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url(/images/check-point.svg);
  background-size: cover;
  mask-image: url(/images/check-point.svg);
  mask-repeat: no-repeat;
  mask-size: cover;
  margin-left: 0.3rem;
}

.float-box-outside {
  animation: float 5s ease-in-out infinite;
  transition: 0.3s;
}

.scan-image {
  position: relative;
  width: 100%;
  height: auto;
}

.scan-overlay {
  position: absolute;
  top: 66px;
  left: 0px;
  width: 305px;
  height: 590px;
  -webkit-mask-image: url(/images/img4-1-no-scan.png);
  mask-image: url(/images/img4-1-no-scan.png);
  mask-size: cover;
  background: transparent;
}

@media (max-width: 1280px) {
  .scan-overlay {
    top: 0px;
  }
}

.scan-overlay:after {
  animation-play-state: running;
}

.scan-overlay:after {
  content: '';
  position: absolute;
  top: 66px;
  left: 0px;
  width: 305px;
  height: 590px;
  background: linear-gradient(to top, #4dcc8f96, transparent, transparent);
  animation: scan 4s linear infinite;
  /* animation-play-state: paused; */
  border-bottom: 6px solid #4dcc8f;
}

div#session-content-home6 {
  padding: 5rem 0 0;
  color: #ffffff;
}

.font-gallix-extrabold {
  font-family: 'gellixextrabold' !important;
}

.font-gt-walsheim-pro {
  font-family: 'GT Walsheim Pro';
}

.check-point {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(/images/check-point.svg);
  background-size: cover;
  mask-image: url(/images/check-point.svg);
  mask-repeat: no-repeat;
  mask-size: cover;
  margin-left: 0.3rem;
}

.slider-session-content-products2-nav-item.slick-slide.slick-current.slick-active
  img {
  border: #ff2f4e 5px solid;
  border-radius: 500px;
}
.carousel-image {
  border: #ff2f4e 5px solid;
  border-radius: 500px;
}

.font-gellix {
  font-family: 'Gellix';
}

button.btn.small3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #fff;
  padding: 0.5rem 0rem 0.5rem 1.5rem;
  margin: 0;
  background: linear-gradient(84.93deg, #4bc58a 13.42%, #69d39f 144.26%);
  box-shadow: 0px 1px 36px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  transition: 0.5s;
  width: auto;
}

button.btn.small4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #fff;
  padding: 0.5rem 0rem 0.5rem 1.5rem;
  margin: 0;
  background: linear-gradient(84.93deg, #765fef 13.42%, #9d8bf3 144.26%);
  box-shadow: 0px 1px 36px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  transition: 0.5s;
  width: auto;
}

img.bg-icon-btn {
  padding-left: 1rem;
  padding-right: 0.5rem;
}

.check-point2 {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url(/images/how-it-works-privacy/check-point2.svg);
  background-size: cover;
  mask-image: url(/images/how-it-works-privacy/check-point2.svg);
  mask-repeat: no-repeat;
  mask-size: cover;
  margin-left: 0.3rem;
}

.privacy-container p {
  margin-bottom: 1rem;
}

button.btn.small2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #fff;
  padding: 0.5rem 0rem 0.5rem 1.5rem;
  margin: 0;
  background: linear-gradient(84.93deg, #ff2f4e 13.42%, #ff5e76 144.26%);
  box-shadow: 0px 1px 36px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  transition: 0.5s;
  width: auto;
}

.modal-close-button {
  position: absolute;
  top: 0px;
  right: 0;
  height: 40px;
  width: 40px;
  font-size: 28px;
  background-color: red !important;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  z-index: 1000;
  padding: 0;
}

@keyframes dot-animation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(75px);
    background-image: url(/images/switche-dot-red.svg);
  }
  51% {
    background-image: url(/images/switche-dot-red.svg);
  }
  100% {
    transform: translateX(0);
    background-image: url(/images/switche-dot-green.svg);
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes scan {
  0% {
    transform: translate(0, -100%);
  }
  100% {
    transform: translate(0, 100%);
  }
}

@media (min-width: 1367px) and (max-width: 1919px) {
  img.img-content.go-img {
    width: 50%;
    padding-top: 4rem;
  }
  img.img-content.img-session-content-home2 {
    width: 140%;
  }
  img.img-content.stop-img {
    width: 50%;
    padding-top: 4rem;
  }
  h2.session-content-home3 {
    padding: 14rem 0rem 0rem 0rem;
  }
  .float-box-outside4 {
    left: 0;
    top: 0;
  }
  .float-box-outside5 {
    left: 34%;
    bottom: 0;
  }
  h2.session-content-home4 {
    padding: 12rem 2rem 0rem 3rem;
  }
  img.img-content.img1 {
    padding: 4rem 0rem 0 0;
  }

  h2.session-content-home5 {
    padding: 0 10rem 4rem;
  }
  .column-tab-left.pt-1rem {
    padding-top: 1rem;
  }
  .box-session-content-home5 {
    width: 125%;
  }
  img.img-content.img-session-content-home5 {
    right: -20rem;
    width: 100%;
    position: relative;
    z-index: 0;
    padding-top: 2rem;
  }
  div#session-content-home6 {
    padding: 1rem 0 5rem;
  }

  div#footer {
    padding: 0 7%;
  }
}

@media (min-width: 481px) and (max-width: 833px) {
  .box-banner {
    padding: 5rem 0rem 0rem;
  }
  .column-tab-left.pt-1rem {
    padding-top: 0;
  }
}

@media (min-width: 0px) and (max-width: 768px) {
  body {
    background: url(/images/mobile/bg-banner-home-mobile.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
  }

  .navbar {
    margin: 0.5rem 0px !important;
  }

  .border-btn-small {
    max-width: 100%;
  }
  img.img-content.img1 {
    padding: 0 0rem 0 0;
    width: 100%;
  }

  section#session-content-home5 {
    padding: 8rem 0 22rem;
    background: url(/images/mobile/bg-footer-mobile.svg);
    background-size: 130%;
    background-repeat: no-repeat;
  }
  h2.session-content-home5 {
    padding: 0 0rem 2rem;
  }
  .box-session-content-home5 {
    width: 100%;
  }
  img.img-content.img-session-content-home5 {
    width: 100%;
    padding-top: 1rem;
  }

  img.img-content.img-session-content-home5 {
    right: 0rem;
  }
  div#footer {
    padding: 0 1rem;
  }
}

/* beyond-icon css */
.beyond-icon {
  display: inline-block;
  width: 151px;
  height: 69px;
  background-image: url(/images/switche-bg.svg);
  background-size: cover;
  mask-image: url(/images/switche-bg.svg);
  mask-repeat: no-repeat;
  mask-size: cover;
  position: relative;
}

h1.beyond__title {
  font-size: 140px;
  line-height: 126px;
  font-weight: 800;
}

@media (max-width: 1919px) {
  h1.beyond__title {
    font-size: 120px;
    line-height: 106px;
  }
}

@media (max-width: 1280px) {
  h1.beyond__title {
    font-size: 85px;
    line-height: 80px;
  }
}

@media (max-width: 375px) {
  h1.beyond__title {
    font-size: 65px;
    line-height: 55px;
  }
}

@media (max-width: 1919px) {
  .beyond-icon {
    width: 131px;
    height: 60px;
  }
}

@media (max-width: 1280px) {
  .beyond-icon {
    width: 92px;
    height: 42px;
  }
}

@media (max-width: 375px) {
  .beyond-icon {
    width: 70px;
    height: 32px;
  }
  .beyond__title {
    font-size: 65px;
    line-height: 55px;
  }
}

.beyond-icon::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  background-image: url(/images/switche-dot-green.svg);
  background-size: cover;
  position: absolute;
  top: 9px;
  left: 13px;
  animation: dot-animation 5s infinite;
  transition: background-image 0.1s ease-in-out;
}

@media (max-width: 1919px) {
  .beyond-icon::after {
    width: 40px;
    height: 40px;
    top: 10px;
    left: 9px;
  }
}

@media (max-width: 1280px) {
  .beyond-icon::after {
    width: 35px;
    height: 35px;
    top: 3px;
    left: 8px;
  }
  @keyframes dot-animation {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(40px);
      background-image: url(/images/switche-dot-red.svg);
    }
    51% {
      background-image: url(/images/switche-dot-red.svg);
    }
    100% {
      transform: translateX(0);
      background-image: url(/images/switche-dot-green.svg);
    }
  }
}

@media (max-width: 375px) {
  .beyond-icon::after {
    width: 24px;
    height: 24px;
    top: 4px;
    left: 3px;
  }
  @keyframes dot-animation {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(40px);
      background-image: url(/images/switche-dot-red.svg);
    }
    51% {
      background-image: url(/images/switche-dot-red.svg);
    }
    100% {
      transform: translateX(0);
      background-image: url(/images/switche-dot-green.svg);
    }
  }
}

section#session-content-home5 {
  padding: 25rem 0 0;
  background: url(/images/bg-footer.svg);
  background-size: 104%;
  background-repeat: no-repeat;
}

@media (max-width: 1919px) {
  section#session-content-home5 {
    padding: 16rem 0 2rem;
    background-size: 112%;
  }
}

@media (max-width: 1366px) {
  section#session-content-home5 {
    padding: 17rem 0 0;
    background-size: 106%;
  }
}

@media (max-width: 1280px) {
  section#session-content-home5 {
    padding: 20rem 0 6rem;
    background-size: 130%;
  }
}

@media (max-width: 1024px) {
  section#session-content-home5 {
    padding: 20rem 0 10rem;
  }
}

@media (max-width: 991px) {
  section#session-content-home5 {
    padding: 20rem 0 20rem;
    background: url(/images/mobile/bg-footer-mobile.svg);
    background-size: 120%;
  }
}

@media (max-width: 833px) {
  section#session-content-home5 {
    padding: 12rem 0 20rem;
  }
}

@media (max-width: 375px) {
  section#session-content-home5 {
    padding: 10rem 0 20rem;
  }
}

@media (max-width: 320px) {
  section#session-content-home5 {
    padding: 8rem 0 20rem;
  }
}

section#session-content-about-us6 {
  padding: 23rem 0 15rem;
  background: url(/images/bg-footer.svg);
  background-size: 104%;
  background-repeat: no-repeat;
}

@media (max-width: 1919px) {
  section#session-content-about-us6 {
    padding: 18rem 0 15rem;
  }
}

@media (max-width: 1366px) {
  section#session-content-about-us6 {
    padding: 18rem 0 15rem;
  }
}

@media (max-width: 1280px) {
  section#session-content-about-us6 {
    padding: 25rem 0 20rem;
    background: url(/images/mobile/bg-footer-mobile.svg);
    background-size: 120%;
  }
}

@media (max-width: 1024px) {
  section#session-content-about-us6 {
    padding: 25rem 0 25rem;
  }
}

@media (max-width: 480px) {
  section#session-content-about-us6 {
    padding: 15rem 0 25rem;
  }
}

@media (max-width: 430px) {
  section#session-content-about-us6 {
    padding: 10rem 0 25rem;
  }
}

@media (max-width: 320px) {
  section#session-content-about-us6 {
    padding: 8rem 0 30rem;
  }
}

section#session-content-how-it-works-privacy5 {
  padding: 20rem 0 15rem;
  background: url(/images/bg-footer.svg);
  background-size: 104%;
  background-repeat: no-repeat;
}

@media (max-width: 1919px) {
  section#session-content-how-it-works-privacy5 {
    padding: 4rem 0 30rem;
    background-size: 100%;
    text-align: center;
  }
}

@media (max-width: 1024px) {
  section#session-content-how-it-works-privacy5 {
    padding: 0rem 0 30rem;
    background: url(/images/bg-footer.svg);
    background-size: 100%;
  }
}

@media (max-width: 991px) {
  section#session-content-how-it-works-privacy5 {
    padding: 6rem 0 30rem;
    background-size: 120%;
  }
}

@media (max-width: 833px) {
  section#session-content-how-it-works-privacy5 {
    padding: 0rem 0 30rem;
  }
}

.blocked-image-wrapper {
  width: 305px;
  height: 590px;
  padding-top: 175%;
  margin: 3.5rem auto 0;
  background-image: url(/images/img4-gun-search.png);
  background-position: center center;
  background-size: contain;
  position: relative;
  transition: background-image 0.1s ease;
}

.blocked-image-wrapper:before {
  content: '';
  width: 305px;
  height: 590px;
  position: absolute;
  top: 0;
  left: 0;
  background-position: center center;
  background-size: contain;
  animation: image-transition 2s ease infinite;
}

@media (max-width: 1280px) {
  .blocked-image-wrapper {
    margin: 0rem auto 0;
    padding-top: 0%;
  }
}

@media (max-width: 1024px) {
  .blocked-image-wrapper {
    margin: 0rem auto 0;
    padding-top: 0%;
  }
}

@media (max-width: 991px) {
  .blocked-image-wrapper {
    margin: 0rem auto 0;
    padding-top: 0%;
  }
}

@media (max-width: 833px) {
  .blocked-image-wrapper {
    margin: 0rem auto 0;
    padding-top: 0%;
  }
}

@media (max-width: 480px) {
  .blocked-image-wrapper {
    margin: 0rem auto 0;
    padding-top: 0%;
  }
}

@media (max-width: 430px) {
  .blocked-image-wrapper {
    margin: 0rem auto 0;
    padding-top: 0%;
  }
}

@media (max-width: 414px) {
  .blocked-image-wrapper {
    margin: 0rem auto 0;
    padding-top: 0%;
  }
}

@media (max-width: 375px) {
  .blocked-image-wrapper {
    margin: 0rem auto 0;
    padding-top: 0%;
  }
}

@media (max-width: 320px) {
  .blocked-image-wrapper {
    margin: 0rem auto 0;
  }
}
