@charset 'UTF-8';
/* Slider */


/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('../../fonts/slick.eot');
    src: url('../../fonts/slick.eot?#iefix') format('embedded-opentype'), url('../../fonts/slick.ttf') format('truetype'), url('../../fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    /*position: absolute;
    bottom: -25px;*/
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li
{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;
    width: 15px;
    height: 15px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 1px solid #FF2F4E;;
    outline: none;
    border-radius: 150px;
    background: #fff;
}
.slick-dots li.slick-active button {
    /*width: 18px;
    height: 18px;*/
    background: #FF2F4E;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 0px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: #fff;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: #fff;
}
/* SLIDER TESTIMONIALS */
.slider-session-content-home3{
    max-width:100%;
    margin:0 auto;
    overflow:hidden;
    padding: 1rem 0rem;
}
.botoes.slick-arrow {
    position: absolute;
    z-index: 9;
    float: right;
    right: 90px;
    bottom: 75px;
}
.slick-prev:before{
    /*content: url(http://safekids.com/wp-content/themes/safekids/images/arrow-left.svg)!important;*/
    margin: -0.5rem 0rem 0rem -0.5rem;
    display: block;
}
.slick-next:before{
    /*content: url(http://safekids.com/wp-content/themes/safekids/images/arrow-right.svg)!important;*/
    margin: -0.5rem 0rem 0rem -0.5rem;
    display: block;
}
button.slick-prev.navegation-slider, button.slick-next.navegation-slider {
    background: #fff;
    padding: 1.8rem;
    text-align: center;
    border-radius: 50px;
    font-size: 25px!important;
    box-shadow: 0px 0px 30.0737px rgb(52 155 210 / 20%);
    transition: 0.2s;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
}

.slick-prev {
    left: -4rem!important;
}
.slick-next {
    left: 1rem!important;
}
img.img-testimonials.mobile {
    display: none;
}
/* SLIDER TESTIMONIALS */
